@import url('reset.css');


/* title */
.title {
    font-size: 40px;
    font-weight: normal;
    color: #000;
    margin-bottom: 20px;
}

/* form */
.form-wrap {
    width: 1000px;
    height: 1200px;
}
.form-line {
    display: flex;
    margin-bottom: 10px;
}
.form-label {
    width: 100px;
    font-size:20px;
    font-weight: normal;
    color: #000;
}
.form-input {}

.form-btn {
    font-size: 30px;
    font-width: normal;
    color: #000;
    margin-top: 40px;
}

/* join */
.join {
    width: 1000px;
    margin: 100px auto 0;
}

.join-tit {}
.join-cont {}
.join-cont .form-wrap {}

/* login */
.login {
    width: 800px;
    margin: 100px auto 0;
}

.login-tit {}
.login-cont {}
.login-cont .form-wrap {}
