<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JobPost</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="jobpost.css">
  </head>
  <body>
    <!-- navbar -->
    <header class="p-3 mb-3 border-bottom fixed-top">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
            <img src="img/BI.png" alt="Logo" width="40" height="32" class="me-2">
          </a>
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-fonts">
            <li><a href="#" class="nav-link px-2 link-secondary">구인공지</a></li>
            <li><a href="#" class="nav-link px-2 link-body-emphasis">Inventory</a></li>
            <li><a href="#" class="nav-link px-2 link-body-emphasis">Customers</a></li>
            <li><a href="#" class="nav-link px-2 link-body-emphasis">Products</a></li>
          </ul>
  
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
          </form>
  
          <div class="dropdown text-end">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <!-- navbar end -->

    <div class="post-container">
      <div class="inner">
        <div class="contents">
          <div class="dummy-height"></div>
          <div class="dill-box-type" th:each="i : ${jobPost}">
            <div class="dill-box-warp">
              <div class="top-cont">
                <div class="main-ctext">
                  <div class="camera-category" th:text="${i.cate}">📷</div>
                  <div class="post-title" th:text="${i.title}">| 숲 속 안에서</div>
                  <span class="post-explane" th:text="${i.sub_title}">숲에서 자연친화적 컨셉의 스틸 촬영하실 분 구합니다!!</span>
                </div>
                <div class="img-area">
                  <img src="img/herin.png" th:src="${i.img_url}">
                </div>
              </div>
              <ul class="dill-list-box">
                <li class="list-item">
                  <div class="cal-text">📆10월 20일</div>
                  <a class="dill-list">
                    <div class="post-name">
                      <div class="main-name">이수호 촬영감독</div>
                      <div class="phistory">경력 2년</div>
                      <div class="post-price">💸상호 무페이</div>
                    </div>
                    <div class="postbtn">
                      <div class="btn_group1">
                        <button class="btn_res type03">
                          지원하기
                          D-321
                        </button>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>

            </div>
            
          </div>
          <div class="dill-box-type">
            <div class="dill-box-warp">
              <div class="top-cont">
                <div class="main-ctext">
                  <div class="camera-category">📷</div>
                  <div class="post-title">| 숲 속 안에서</div>
                  <span class="post-explane">숲에서 자연친화적 컨셉의 스틸 촬영하실 분 구합니다!!</span>
                </div>
                <div class="img-area">
                  <img src="img/herin.png">
                </div>
              </div>
              <ul class="dill-list-box">
                <li class="list-item">
                  <div class="cal-text">📆10월 20일</div>
                  <a class="dill-list">
                    <div class="post-name">
                      <div class="main-name">이수호 촬영감독</div>
                      <div class="phistory">경력 2년</div>
                      <div class="post-price">💸상호 무페이</div>
                        
                    </div>
                  </a>
                </li>
              </ul>

            </div>
            
          </div>
          
        </div>
        <div class="sidebar">
          <div class="sinner scroll_p">
            <div class="res_form">
              <h2 class="title">카테고리 설정</h2>
              
              <div class="cont">
                <a class="ico-place" style="cursor: pointer;">
                  사진촬영
                  <button class="btn_edit">수정</button>
                </a>
              </div>
              <div class="cont">
                <a class="ico-date">
                  10.25(금) 11:00 ~ 10.27(일) 15:00
                  <button class="btn_edit">수정</button>
                </a>
              </div>
              
              <div class="btn_group">
                <button class="btnx type02">재검색</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





    <!-- Bootstrap JS with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>